.search-container {
  padding: 3.5rem 1rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1268px;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  position: relative;
  max-width: 1268px;
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 1.5rem;

  background-color: transparent;
  border-radius: 5rem;
}
.search-btn:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.search-btn:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.search-bar {
  width: 0;
  opacity: 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease, opacity 0.3s ease;
  margin-left: 8px;
}

.search-bar.expanded {
  width: 200px;
  opacity: 1;
}
